/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e3d48;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

#contenido {
    padding: 20px;
}

h2 {
    color: #2e3d48;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #e3e3e3;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #2e3d48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #1a2b36;
}

footer {
    background-color: #2e3d48;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
